<footer class="container-fluid">
	<div class="row">
		<div class="col-auto">
			<a href="/" class="btn btn-slim" title="<%= language.footer_createPoll %>"><%= language.footer_createPoll %> 🎉</a>
			<a href="/about-us" class="btn btn-slim" title="<%= language.footer_about %>"><%= language.footer_about %> 👋🏻</a>
			<!--<a href="/translate" class="btn btn-slim" title="<%= language.footer_translate %>"><%= language.footer_translate %> 🗺️</a>
			<a href="/API" class="btn btn-slim">API ⚡</a>-->
		</div>
		<div class="col text-right">
			&copy; <%= new Date().getFullYear() %>
		</div>
	</div>
</footer>
