<div class="container-fluid">
	<footer class="row">
		<div class="col-auto">
			<a href="/" title="<%= language.footer_createPoll %>"><%= language.footer_createPoll %> 🎉</a>
		</div>
		<!--<div class="col-auto">
			<a href="/API">API ⚡</a>
		</div>-->
		<div class="col-auto">
			<a href="/translate" title="<%= language.footer_translate %>"><%= language.footer_translate %> 🗺️</a>
		</div>
		<div class="col text-right">
			&copy; <%= new Date().getFullYear() %>
		</div>
	</footer>
</div>
