<tr id="choice_<%= r.id.N %>">
	<td class="value">
		<div class="text" style="width: <%= (total != 0 ? Math.floor(r.votes.N/total*100) : 0) %>%;">
			<%= r.value.S %>
		</div>

		<!--<div class="bg" ><%= r.value.S %></div>-->
	</td>
	<td class="votes" onclick="swapNumberPerc()" title="<%= language.swap_number_percentage %>">
		<span class="votes-number">
			<span class="n"><%= r.votes.N %></span>
			<% if (r.metadata.M.limitAnswers.N != 0) { %>
				/ <%= r.metadata.M.limitAnswers.N %>
			<% } %>
		</span>
		<span class="votes-percentage">
			<%= (total != 0 ? Math.floor(r.votes.N/total*100) : 0) %>%
		</span>
	</td>
	<!--<td class="select">

		<% if (showNames) { %>
			<div class="names">
				<% for (var i=1; ((i <= r.metadata.M.names.L.length) && (i < 4)); i++) { %>
					<% var trailer = ''; %>
					<% if ((i < r.metadata.M.names.L.length) && (i < 3)) { %>
						<% trailer = ','; %>
					<% } else if ((i < r.metadata.M.names.L.length) && (i == 3)) { %>
						<% trailer = '...'; %>
					<% } %>
					<%= r.metadata.M.names.L[r.metadata.M.names.L.length - i].S + trailer %>
				<% } %>
			</div>
		<% } %>

		<div class="percental-bar" style="width: <%= (total != 0 ? Math.floor(r.votes.N/total*100) : 0) %>%;"></div>
	</td>-->
</tr>
