<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questionary</title>

	<meta property="og:title" content="Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />

	<% include ../partials/header %>
</head>
<body>

	<% include ../partials/head %>

	<div class="container main-container">

		<div class="row title">
			<div class="col title-font">
				<div class="row">
					<div class="col-auto">#</div>
					<h1 class="col">
						<%= language.title %>
					</h1>
				</div>
			</div>
		</div>

		<div className="row">
			<div className="col">
				<p><%= language.description %></p>
			</div>
		</div>

		<div class="row vote">
			<div class="col section-title">
				<a href="/v/<%= id %>" class="btn primary-color">
					<%= language.vote_button %>
				</a>
			</div>
		</div>

	</div>

	<% include ../partials/footer %>

	<% include ../partials/scripts %>

</body>
</html>
