<!DOCTYPE html>
<html lang="<%= language.languageCode %>">
<head>
	<title>Create new - Questionary</title>

	<% include ../partials/header %>

	<meta property="og:title" content="Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta name="description" content="<%= language.header_og_description %>" />
	<meta property="og:url" content="<%= uri %>" />
</head>
<body>

	<nav class="container-fluid">
		<div class="row">
			<div class="col-auto">
				<img src="/assets/img/logo_bw.png" alt="Logo">
			</div>
		</div>
	</nav>

	<div class="container main-container">

		<form method="post">

			<div class="row">
				<div class="col">
					<textarea name="title" class="title" placeholder="<%= language.title_textarea %>..." rows="1" onkeyup="adjustSize(this)" autofocus></textarea>
				</div>
			</div>

			<div class="row choices">
				<div class="col">

					<div class="row choice">

						<div class="col value">
							<textarea rows="1" placeholder="<%= language.answer_textarea %>..." onkeyup="choiceEdit(this)"></textarea>
						</div>
						<div class="col-auto remove" title="<%= language.answer_remove %>" onclick="removeChoice(this)">
							<i class="icon-cancel"></i>
						</div>

					</div>


				</div>
			</div>

		</form>

	</div>

	<footer class="container-fluid">
		<div class="row">
			<div class="col-auto">
				<a href="/" class="btn" title="<%= language.footer_createPoll %>"><%= language.footer_createPoll %> 🎉</a>
			</div>
			<!--<div class="col-auto">
				<a href="/API">API ⚡</a>
			</div>-->
			<div class="col-auto">
				<a href="/translate" class="btn" title="<%= language.footer_translate %>"><%= language.footer_translate %> 🗺️</a>
			</div>
			<div class="col text-right">
				&copy; <%= new Date().getFullYear() %>
			</div>
		</div>
	</footer>

	<div id="choiceBoilerplate" hidden>

	</div>

	<%- include('../partials/scripts', {lang: language.languageCode}) %>

	<script src="/assets/js/newPoll.js" charset="utf-8"></script>

</body>
</html>
