<!DOCTYPE html>
<html lang="<%= language.languageCode %>">
<head>
	<title><%= language.title %></title>

	<% include ../partials/header %>

	<meta property="og:title" content="Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta name="description" content="<%= language.header_og_description %>" />
	<meta property="og:url" content="<%= uri %>" />
</head>
<body>

	<nav class="container-fluid">
		<div class="row">
			<div class="col">
				<a href="/"><img src="/assets/img/logo_bw.png" alt="Logo"></a>
			</div>
			<div class="col-auto">
				<input type="checkbox" id="options_toggle" value="">
				<label for="options_toggle"><%= language.settings_button %></label>
				<div class="options">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<input type="checkbox" id="setting_preventDoubles" name="preventDoubles" checked>
								<label for="setting_preventDoubles"><%= language.setting_prevent_duplicates %></label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="checkbox" id="setting_collectNames" name="collectNames">
							  <label for="setting_collectNames"><%= language.setting_collect_names %></label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="checkbox" id="setting_hiddenResults" name="hiddenResults">
							  <label for="setting_hiddenResults"><%= language.setting_hidden_results %></label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="checkbox" id="setting_allowChange" name="allowChange">
							  <label for="setting_allowChange"><%= language.setting_allow_change %></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container main-container">

		<form method="post">

			<div class="row">
				<div class="col">
					<textarea name="title" class="title" placeholder="<%= language.title_textarea %>" rows="1" onkeyup="adjustSize(this)" autofocus></textarea>
				</div>
			</div>

			<div class="row choices">
				<div class="col">

					<div class="row choice">

						<div class="col value">
							<textarea rows="1" placeholder="<%= language.answer_textarea %>" onkeyup="choiceEdit(this)"></textarea>
						</div>
						<div class="col-auto remove" title="<%= language.answer_remove %>" onclick="removeChoice(this)">
							<i class="icon-cancel"></i>
						</div>

					</div>


				</div>
			</div>

			<div class="row">
				<div class="col">
					<button type="submit" class="btn">
						<span class="text"><%= language.go_button %> <div class="description" hidden>(⌘+enter)</div></span>
						<span class="spinner"><i class="icon-save animate-pulse"></i> <%= language.go_button_posting %></span>
					</button>
				</div>
			</div>

		</form>

	</div>

	<% include ../partials/footer %>

	<div id="choiceBoilerplate" hidden>
		<div class="row choice">

			<div class="col value">
				<textarea rows="1" placeholder="<%= language.answer_textarea %>" onkeyup="choiceEdit(this)"></textarea>
			</div>
			<div class="col-auto remove" title="<%= language.answer_remove %>" onclick="removeChoice(this)">
				<i class="icon-cancel"></i>
			</div>

		</div>
	</div>

	<%- include('../partials/scripts', {lang: language.languageCode}) %>

	<script src="/assets/js/newPoll.js" charset="utf-8"></script>

</body>
</html>
