<!DOCTYPE html>
<html lang="<%= language.languageCode %>">
<head>
	<title><%= language.header_og_title %> &apos;<%= title %>&apos; - Questionary</title>

	<meta property="og:title" content="<%= language.header_og_title %> &apos;<%= title %>&apos; - Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta name="description" content="<%= language.header_og_description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />
	<meta name="robots" content="noindex" />
	<meta name="googlebot" content="noindex" />
	<meta name="keywords" content="Polls,Vote,Live,Interactive">

	<% include ../partials/header %>
	<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body id="<%= id %>">

	<% include ../partials/nav %>

	<div class="container main-container">
		<form>

			<div class="row">
				<div class="col">
					<h1><%= title %></h1>
				</div>
			</div>

			<div class="row">
				<div class="col">

					<table class="results" type="bars"></table>

					<script type="text/javascript">
						function swapNumberPerc() {
							document.querySelector("table.results").classList.toggle("percentage");
						}
					</script>


				</div>
			</div>

			<% include ../partials/socialShare %>

		</form>
	</div>

	<% include ../partials/footer %>

	<script id="data" type="application/json">
		<%- JSON.stringify(options) %>
	</script>

	<%- include('../partials/scripts', {lang: language.languageCode}) %>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/results_liveUpdate.js"></script>

	<script type="text/javascript">
		document.getElementById("share_via_qr").addEventListener('click', (e) => {
			e.preventDefault();
			toast("qr", "<img class='qr-code-img' src='/qr/"+'<%= encodeURIComponent(uri) %>'+"'></img>")
		})
	</script>
</body>
</html>
