<!DOCTYPE html>
<html lang="en">
<head>
	<title>Results for &apos;<%= title %>&apos; - MD Polls</title>

	<meta property="og:title" content="<%= language.header_og_title %> &apos;<%= title %>&apos; - MD Polls" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />

	<% include ../partials/header %>
</head>
<body id="<%= id %>">

	<div class="container main-container">
		<form>

			<% include ../partials/head %>

			<div class="row title">
				<div class="col title-font">
					<div class="row">
						<div class="col-auto">#</div>
						<h1 class="col">
							<%= title %>
						</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<h3 class="col section-title">
					### <%= language.results_title %>
				</h3>
			</div>
			<div class="row results options">
				<div class="col">

					<table>

						<% for (var i=0; i < options.length; i++) { %>
					    <%- include('./../partials/results/choiceRowResult', {index: i+1, r: options[i].M, total: total, showNames: collectNames}); %>
					  <% } %>

					</table>


				</div>
			</div>

			<% if (!alreadyVoted) { %>
				<div class="row vote">
					<div class="col section-title">
						<a href="/v/<%= id %>" class="btn primary-color">
							<%= language.vote_button %>
						</a>
					</div>
				</div>
			<% } %>

			<!--<div class="row">
				<h3 class="col section-title">
					### <%= language.piechart_title %>
				</h3>
			</div>
			<div class="row results options">
				<div class="col">



				</div>
			</div>-->

			<% include ../partials/socialShare %>

		</form>
	</div>

	<% include ../partials/footer %>

	<% include ../partials/scripts %>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/results_liveUpdate.js"></script>

	<script type="text/javascript">
		document.getElementById("share_via_qr").addEventListener('click', (e) => {
			e.preventDefault();
			toast("qr", "<img class='qr-code-img' src='/qr/"+'<%= encodeURIComponent(uri) %>'+"'></img>")
		})
	</script>
</body>
</html>
