<!DOCTYPE html>
<html lang="en">
<head>
	<title>Translate Questionary</title>

	<meta property="og:title" content="MD Polls" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />

	<% include ../partials/header %>
</head>
<body>

	<% include ../partials/nav %>

	<div class="container main-container">

		<h1>
			<%= language.title %>
		</h1>
		<p>
			<%= language.p1 %>
		</p>
		<p>
			<%= language.p2 %>
		</p>
		<h3>
			<%= language.section_title %>
		</h3>
		<p>
			<%= language.p3 %>
		</p>
		<a class="btn btn-slim" href="/assets/downloads/languages.zip"><i class="icon-download"></i> Download file</a>
		<p>
			<%= language.p4 %>
		</p>
		<div class="row settings">
			<div class="col p">

				<div class="code-block">
					<span class="text-red">"footer_createPoll"</span>: <span class="text-green">"Create poll"</span>,<br />
					<p><%= language.becomes %></p>
					<span class="text-red">"footer_createPoll"</span>: <span class="text-green">"Crea sondaggio"</span>,<br />
				</div>
				<p class="slim-button">
					<%= language.p5 %> <a href="mailto:"></a>
				</p>
			</div>
		</div>

	</div>

	<% include ../partials/footer %>

	<% include('../partials/scripts', {lang: language}) %>

</body>
</html>
