<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vote on &apos;<%= pollData.title %>&apos; - Questionary</title>

	<meta property="og:title" content="<%= language.header_og_title %> &apos;<%= pollData.title %>&apos; - Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta name="description" content="<%= language.header_og_description %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />
	<meta name="robots" content="noindex" />
	<meta name="googlebot" content="noindex" />
	<meta name="keywords" content="Polls,Vote,Live,Interactive">

	<% include ../partials/header %>
	<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

	<% include ../partials/nav %>

	<div class="container main-container">

		<form id="<%= pollData.ID.S %>" class="submitVote">

			<div class="row">
				<div class="col">
					<h1><%= pollData.title %></h1>
				</div>
			</div>

			<% if (pollData.metadata.preventDoubles && alreadyVoted) { %>
				<%- include('./../partials/vote/alreadyVoted'); %>
			<% } else if (noMoreChoices) { %>
				<%- include('./../partials/vote/noMoreChoices'); %>
			<% } %>

			<% if (pollData.metadata.collectNames) { %>
				<%- include('./../partials/vote/collectNames'); %>
			<% } %>

			<div class="row choices">
				<div class="col">

					<% /*pollData.options.forEach(function(row){ %>
				    <%- include('./../partials/vote/choiceRowVote', {r: row}); %>
				  <% });*/ %>


				</div>
			</div>

			<% if (!pollData.metadata.preventDoubles || (pollData.metadata.preventDoubles && !alreadyVoted) || allowChange) { %>
				<div class="row">
					<div class="col">
						<button type="submit" class="btn disabled">
							<span class="text"><%= ((pollData.metadata.preventDoubles && alreadyVoted && allowChange) ? language.modify_button : language.submit_button) %></span>
							<span class="spinner"><i class="icon-save animate-pulse"></i> <%= language.submit_button_posting %></span>
						</button>
					</div>
				</div>
			<% } %>

			<% include ../partials/socialShare %>

		</form>

	</div>

	<% include ../partials/footer %>

	<script id="data" type="application/json">
		<%- JSON.stringify(pollData) %>
	</script>

	<%- include('../partials/scripts', {lang: language.languageCode}) %>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/submitPoll.js" charset="utf-8"></script>

	<script type="text/javascript">
		document.getElementById("share_via_qr").addEventListener('click', (e) => {
			e.preventDefault();
			toast("qr", "<img class='qr-code-img' src='/qr/"+'<%= encodeURIComponent(uri) %>'+"'></img>")
		})
	</script>

</body>
</html>
