<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vote on &apos;<%= pollData.title.S %>&apos; - Polls</title>

	<meta property="og:title" content="Vote on &apos;<%= pollData.title.S %>&apos; - MD Polls" />
	<meta property="og:description" content="Vote on this poll! Create one youself to quicly and effortlessly share nice looking polls to your friends, then collect all their responses" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= uri %>" />

	<% include ../partials/header %>
</head>
<body>

	<div class="container main-container">

		<% include ../partials/head %>

		<form id="<%= pollData.ID.S %>">

			<div class="row title">
				<div class="col title-font">
					<div class="row">
						<div class="col-auto">#</div>
						<h1 class="col">
							<%= pollData.title.S %>
						</h1>
					</div>
				</div>
			</div>

			<% if (pollData.metadata.M.collectNames.BOOL) { %>
				<%- include('./../partials/vote/collectNames'); %>
			<% } %>

			<div class="row">
				<h3 class="col section-title">
					### <%= language.choices_title %>
				</h3>
			</div>
			<div class="row options">
				<div class="col">

					<% pollData.options.L.forEach(function(row){ %>
				    <%- include('./../partials/vote/choiceRowVote', {r: row.M}); %>
				  <% }); %>


				</div>
			</div>

			<div class="row submit">
				<div class="col">
					<button type="submit" class="primary-color">
						<span class="text"><%= language.submit_button %></span>
						<span class="spinner"><i class="fas fa-circle-notch fa-spin"></i> <%= language.submit_button_posting %></span>
					</button>
				</div>
			</div>

			<% include ../partials/socialShare %>

		</form>

	</div>

	<% include ../partials/footer %>

	<script src="/assets/js/toast.js" charset="utf-8"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/submitPoll.js" charset="utf-8"></script>

	<script type="text/javascript">
		document.getElementById("share_via_qr").addEventListener('click', (e) => {
			e.preventDefault();
			toast("qr", "<img class='qr-code-img' src='/qr/"+'<%= uri %>'+"'></img>")
		})
	</script>

</body>
</html>
